.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards-container .default-content-wrapper {
  text-align: center;
  padding-bottom: 30px;
}

main .section.cards-container.highlight {
  background-color: #eaeef5;
  margin: 64px 32px;
  padding: 30px 0;
}

.cards-wrapper {
  padding: 0 35px;
}

.cards-card-body .button-container a {
  background: none !important;
  color: blue;
  font-size: 1rem;
  text-decoration: underline;
  padding-left: 0;
}
