.lps-acc-container {
  position: relative;
  color: white;
  padding: 5em 0 8em;
  background: url(../../icons/lps-acc-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  margin-bottom: 2rem;
  padding: 9rem 32px !important;
  font-family: "Questrial", sans-serif !important;
}

.lps-acc-wrapper img {
  padding-left: 50px;
}

.lps-acc-container .accordion-wrapper {
  margin-left: 40px;
}
.lps-acc-wrapper img {
  padding-left: 50px;
}

.lps-acc-container .acc-element {
  background: 0;
  border: none;
  border-bottom: 1px solid #fff;
  color: white;
  font-weight: 400;
  transition: all 0.4s ease;
}

.lps-acc-container .panel {
  background: 0;
}

.lps-acc.block img {
  display: none;
  position: absolute;
  top: 10%;
  right: 10%;
  transition: all 1s ease;
  z-index: 2;
  animation: img-effect 2s;
  animation-fill-mode: forwards;
}
.lps-acc.block img {
  background: #33f075;
  /* transform: rotate(10deg); */
}
.lps-acc.block:after {
  /* transform: rotate(10deg); */
}
.lps-acc.block img:after {
  content: "";
  background: #33f075;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 0;
  right: 0%;
  z-index: 0;
  /* height: 100%;
  width: 100%; */
  transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.accordionTitle.is-open + img:after {
  transform: rotate(10deg);
  animation: img-effect 2s;
  animation-fill-mode: forwards;
}

@keyframes img-effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.lps-acc-wrapper {
  width: 600px;
  margin-left: 50px !important;
}

.lps-acc-container .acc-element {
  font-size: 1rem;
}

.acc-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionTitle:after {
  content: attr(data-value);
  color: #ffffff;
  font-weight: 100;
  float: right;
  margin-left: 5px;
  font-size: 2.5rem;
}

.accordionTitle {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionTitle + .accordionContent {
  display: none;
  padding-bottom: 20px;
}

.accordionTitle.is-open + .accordionContent {
  display: block;
}

.accordionTitle.is-open + .acc-img {
  position: absolute;
  top: 10%;
  right: 10%;
  transition: all 1s ease;
  position: relative;
  z-index: 2;
  animation: img-effect 2s;
  animation-fill-mode: forwards;
}

/* MEDIA QUERIES */

@media (max-width: 991px) {
  .acc-element {
    width: 100%;
  }
  .lps-acc-container {
    padding: 64px 32px !important;
  }

  .lps-acc-container .accordion-wrapper {
    margin-left: 0;
  }
  .lps-acc-container .acc-element {
    font-size: 1rem;
  }
  main .section {
    padding: 64px 20px;
  }
  .lps-acc-wrapper {
    width: 600px;
    margin-left: 0 !important;
  }
  .accordionTitle:after {
    font-size: 26px;
    padding: 10px 0;
  }
  .lps-acc.block img {
    width: 70%;
    height: 72%;
    position: relative;
    margin: 0 50px;
  }
}

/* MEDIA QUERIES */
