* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.slider {
  width: 100%;
  max-width: 960px;
  height: 450px;
  position: relative;
  overflow: hidden;
  /* border-radius: 15px; */
  margin: auto;
}

.slide {
  width: 100%;
  max-width: 960px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

div.slide-text {
  position: absolute;
  width: 100%;
  top: 60%;
  color: #fff;
  text-align: center;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 2px 10px 5px;
  border: none;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  font-size: 30px;
  color: #2b2b2b;
  transform: scale(1.5);
  font-weight: 300;
}
.btn:hover,
.btn:focus {
  background-color: #fff;
  font-size: 30px;
  color: #2b2b2b;
  transform: scale(1.5);
  font-weight: 300;
}
.btn:active {
  transform: scale(1.1);
}
.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}
.long-arrow-left,
.long-arrow-right {
  all: unset;
}
.arrow-left,
.arrow-right {
  background: #33a8f0;
  border-radius: 50%;
  width: 10%;
  cursor: pointer;
}

.long-arrow-right,
.long-arrow-left {
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
}

.long-arrow-right {
  transform: rotate(135deg);
  border-color: #fff;
}

.long-arrow-left {
  transform: rotate(-45deg);
  border-color: #fff;
}
.long-arrow-right::after,
.long-arrow-left::after {
  content: "";
  display: block;
  width: 2px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}
.carousel-wrapper {
  height: 80vh;

  display: flex;
  border-radius: 10px;
  /* border: 3px solid black; */
  padding: 20px 50px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.slider {
  height: 100%;
  width: 50vw;
  overflow: hidden;
  padding: 0px 30px;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 100px;
  position: relative;
}

.slider > div {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border-radius: 25px; */
  position: absolute;
  transition: 1s;
  padding: 0px 15px;
}

.long-arrow-left:hover,
.long-arrow-right:hover,
.long-arrow-left:focus,
.long-arrow-right:focus {
  background: 0;
}
