.widget-nextsec-container {
  padding: 3rem 0 0 !important;
}

.widget-nextsec-wrapper {
  margin: 0 !important;
  max-width: none !important;
}
.widget-nextsec.block {
  display: flex;
  overflow: hidden;
  height: 266px;
  position: relative;
}

.widget-nextsec.block .next-sec:first-of-type {
  width: 50%;
}

.widget-nextsec.block .next-sec:last-of-type {
  background: conic-gradient(#ffd223 10deg, #ffa928 90deg, #ffd223);
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.widget-nextsec.block .next-sec:last-of-type div {
  font-size: 1.875em;
  cursor: pointer;
  height: 68px;
  width: 100%;
}

.widget-nextsec.block .next-sec:last-of-type div:after {
  content: "";
  display: block;
  background: black;
  width: 100%;
  height: 1.5px;
  transition: all 0.3s ease-in-out;
}

.widget-nextsec.block a.button {
  all: unset !important;
}

.widget-nextsec:hover {
  cursor: pointer;
}

.widget-nextsec:hover .next-sec:last-of-type div a {
  top: -20px;
}

.widget-nextsec:hover .next-sec:last-of-type {
  background: conic-gradient(#ffd223 140deg, #ffa928 320deg, #ffd223);
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.widget-nextsec:hover .next-sec:last-of-type div:after {
  margin-top: 4px;
}
.button-container {
  position: relative;
}
.button-container i {
  position: absolute;
  top: 12px;
  transition: all 0.4s ease;
  right: 0;
}

.next-sec img {
  height: revert-layer;
  object-fit: fill;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .widget-nextsec.block {
    display: flex;
    height: auto;
    overflow: hidden;
    position: relative;
    flex-direction: column;
  }
  .widget-nextsec.block .next-sec:first-of-type {
    width: 100%;
  }

  .widget-nextsec.block .next-sec:last-of-type {
    width: 100%;
    min-height: 170px;
  }
  .next-sec picture {
    height: 100%;
    display: flex;
    width: -webkit-fill-available;
  }
  .widget-nextsec.block a.button {
    font-size: 1.33rem !important;
    font-family: "Questrial", sans-serif !important;
  }
  .button-container {
    position: relative;
  }
  .button-container i {
    position: absolute;
    top: 18px;
    transition: all 0.4s ease;
    padding-left: 3rem;
  }
  .next-sec img {
    object-fit: cover;
    height: 197.5px;
    width: inherit;
  }
}

@media (max-width: 600px) {
  .widget-nextsec.block a.button {
    font-size: 1.33rem !important;
    font-family: "Questrial", sans-serif !important;
  }
}
